* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.hero {
  width: 100vw;
  height: 100vh;
  background: url("logo.png") center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.2);
}


.content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.logo {
  width: 200px;
}

.btn {
  padding: 15px 40px;
  background: #000000;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 30px;
  transition: transform 0.5s, background 0.2s;
}

.btn:hover {
  background: #ba6a3e;
  transform: scale(1.05);
}
